<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Articuno</title>
    <link rel="shortcut icon" href="../img/articuno shiny.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="Articuno">
    <h1>Articuno</h1>
    <img src="../img/articuno shiny.png" alt="Articuno">
    <p>tipo: <span>agua</span></p>
    <br>
    <h3>Características</h3>
    <p>Articuno es un legendario pájaro Pokémon que puede controlar el hielo. El batir de sus alas congela el aire. Dicen que consigue hacer que nieve cuando vuela. Es un legendario pájaro Pokémon que puede controlar el hielo.</p>
    <h5><a href="../index.html"><span id="volverinicio">volver a inicio</span></a></h5>
</body>

</html>